.ttl {
  color: #363434;
  text-align: center;
}

.count {
  color: #5c5757;
}

.app {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.hsbtn {
  padding: 8px;
  border: none;
  background-color: #62929a;
  color: #fff;
}

.addbtn {
  padding: 3px 8px;
  border: none;
  background-color: #62929a;
  color: #fff;
}

.current {
  padding-left: 28px;
  font-size: 20px;
  text-align: left;
}

ul {
  padding: 0;
  padding-left: 28px;
  text-align: left;
}

.todolist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px;
  background-color: #f2f2f2;
}

.trash {
  border: none;
  color: #ff0000;
  font-size: 16px;
}